/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of CSS reset */

body {
    font-family: "Arial";
    font-size: 14px;
    background-color: #f9f9f9
}

/* Header section */

.header__title {
    background-color: #d94e44;
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding: 15px 0px 15px 0px;
}

.header__form {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    border-bottom: 2px inset #d6d4d4;
    font-size: 20px;
}

.header .form-new-recipe, .form-select-recipe {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    text-align: center;
    font-size: 22px;
}

.header .form-new-recipe {
    color: #db4d3f;
    padding: 15px 0px 15px 0px;
    border-right: 2px inset #d6d4d4;
}
.header .form-select-recipe {
    padding: 15px 0px 15px 0px;
}

.header .form-select-recipe-picker {
    width: 200px;
    margin: auto;
}

.header .form-select-recipe-picker > select {
    border: 1px solid #d6d4d4;
    border-radius: 3px;
    font-size: 20px;
}

/* Main section */

.main {
    width: 50%;
    margin: auto;
    padding: 15px 0px 15px 0px;
}

.main__standard-section-title--red {
    background-color: #db4d3f;
    font-size: 22px;
    color: white;
    padding: 5px 0px 5px 15px;
    margin: 15px 0px 0px 0px;
}

.main__standard-section-content {
    background-color: #f6f4f4;
    padding: 0px 25px 0px 25px;

}
.main .main__standard-section-content label {
    font-size: 14px;
}

.main__standard-section-fieldset {
    padding-top: 25px;

}

.main__standard-section-fieldset:last-child {
    padding-bottom: 25px;

}

.main__standard-section-fieldset > input, textarea {
    display: block;
    margin-top: 10px;
    padding: 5px 0px 5px 10px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #d6d4d4;
    box-sizing: border-box;
}

.main .main__standard-section-fieldset textarea {
    height: 100px;
}

.main__standard-section-fieldset label {
    font-weight: bold;
}

.main__about .about-form-recipe-parameters {
    display: flex;
    justify-content: space-between;
}

.main__about .about-form-recipe-parameters > fieldset input {
    width: 35px;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #d6d4d4;
    height: 20px;

}

.main__ingredients .ingredients-list {
    padding-top: 35px;
}

.main__ingredients .ingredients-list li {
    padding-left: 15px;
}

.main__ingredients .ingredients-list li i {
    color: #db4d3f;
}

.main__ingredients .ingredients-form-quantity input {
    width: 50px;
    border-radius: 3px;
    border: 1px solid #d6d4d4;
    padding: 5px 0px 5px 10px;
    height: 16px;
}

.main__ingredients .ingredients-form {
    display: flex;
    justify-content: space-between;

}

.main__ingredients .ingredients-form-unit select {
    width: 75px;
    border-radius: 3px;
    border: 1px solid #d6d4d4;
    height: 28px;
    line-height: 24px;
    padding: 5px;
}
.main__ingredients .ingredients-form-ingredient-type input {
    width: 200px;
    border-radius: 3px;
    border: 1px solid #d6d4d4;
    height: 16px;
    padding: 5px 5px 5px 10px;
}

.main__ingredients .ingredients-form-add-button {
    background-color: white;
    

}

.main__ingredients .ingredients-form-add-button button {
    background-color: white;
    border: 1px solid #db4d3f;
    border-radius: 3px;

}

.main__ingredients .ingredients-form-add-button button i {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #db4d3f;
}

.main__ingredients .ingredients-form-of {
    padding-top: 7px;
}

.main__steps .steps-list ol{
    padding-left: 20px;
    list-style-type: decimal;
}

.main__steps .steps-list ol li {
    padding-bottom: 15px;
}

.main__steps .steps-add-button button {
    background-color: white;
    border: none;
    color: #db4d3f;
    width: 100%;
}

.main__steps .steps-add-button {
    background-color: white;
    border: 1px solid #db4d3f;
    border-radius: 3px;
    margin-top: 15px;
}

.main__steps .steps-add-button button i {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    color: #db4d3f;
}

/* Footer section */

.footer {
    width: 50%;
    margin: auto;
    padding-bottom: 15px;
}

.footer .recipe-control-button-cancel button {
    width: 100%;
    height: 30px;
    background-color: white;
    border: 1px solid #db4d3f;
    border-radius: 2px;
    color: #db4d3f;
}

.footer .recipe-control-button-save-recipe button {
    width: 100%;
    height: 30px;
    border: 1px solid #db4d3f;
    background-color: #db4d3f;
    border-radius: 2px;
    color: white;
}

.footer .recipe-control-button-save-recipe {
    width: 50%; 
 
}

.footer .recipe-control-button-cancel {
    width: 50%;
    
}

.footer .footer__recipe-control {
    display: flex;
    flex-direction: row;
}


/* 320 px */

@media only screen and (max-width: 499px) {
    .main {
        width: 100%;
    }

    .main .main__standard-section-content {
        background-color: #f6f4f4;
        padding: 0px;
    }

    .header .header__title {
        font-size: 20px;
    }

    .header .form-new-recipe, header .form-select-recipe {
        font-size: 18px;
    }

    .header .form-new-recipe {
        padding-top: 20px;
    }

    .header .form-select-recipe-picker {
        width: 140px;
    }

    .header .form-select-recipe-picker > select {
        font-size: 14px;
        width: 100%;
        height: 30px;
    }

    .main__ingredients .ingredients-form-of {
        display: none;
    }

    .main__ingredients .ingredients-form-quantity input {
        width: 45px;
    }

    .main__ingredients .ingredients-form-unit select {
        width: 60px;
    }

    .main__ingredients .ingredients-form-ingredient-type input {
        width: 120px;
    }

    .main__steps .steps-list {
        padding-top: 35px;
    }

    .footer {
        width: 100%;
    }
}
