/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of CSS reset */

/* body {
    background-color: #f9f9f9
}

.header__title-container {
    background-color: #d94e44;
    color: #F8F8F8;
    text-align: center;
    font-size: 34px;
}

.header__nav-container {
    flex-direction: row;
    display: flex;
}

[class*="header__nav-"] {
    display: flex;
    flex: 1 1;
    text-align: center;
    flex-direction: row;
}
 */

 
body {
    background-color: #f9f9f9
}

/* Header section */

header .header__title-container {
    background-color: #d94e44;
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding: 15px 0px 15px 0px;
}

header .header__form-container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    border-bottom: 2px inset #d6d4d4;
    font-size: 20px;
}

[class*="header__form-"] {
    display:flex;
    flex-direction:column;
    flex: 1 1;
    text-align: center;
}

header .header__form-new-recipe-container {
    color: #db4d3f;
    padding: 15px 0px 15px 0px;
    border-right: 2px inset #d6d4d4;
}

header .header__form-select-recipe-container {
    padding: 15px 0px 15px 0px;
}

header .header__form-select-recipe-picker {
    width: 200px;
    margin: auto;
}

header .header__form-select-recipe-picker > select {
    border: 1px solid #d6d4d4;
    border-radius: 3px;
    font-size: 20px;
}

/* Main section */

.main-container  {
    width: 50%;
    margin: auto;
    padding: 15px 0px 15px 0px;
}

.main__standard-section-title--red {
    background-color: #db4d3f;
    font-size: 18px;
    color: white;
    padding: 5px 0px 5px 15px;
    margin: 15px 0px 0px 0px;
}

.main__standard-section-content {
    background-color: #f6f4f4;
    padding: 0px 25px 0px 25px;

}

.main__standard-section-fieldset {
    padding-top: 25px;

}

.main__standard-section-fieldset:last-child {
    padding-top: 25px;

}

.main__standard-section-fieldset > input, textarea {
    display: block;
    margin-top: 10px;
    padding: 5px 0px 5px 10px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #d6d4d4;
    box-sizing: border-box;
}

.main__standard-section-fieldset label {
    font-weight: bold;
}

.main__standard-section-fieldset > textarea {
    height: 100px;
}

.main__section-about-form-recipe-parameters {
    display: flex;
    justify-content: space-between;
}

.main__section-about-form-recipe-parameters > fieldset input {
    width: 35px;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #d6d4d4;

}

.main__section-ingredients-content-list-container {
    padding-top: 35px;
}

.main__section-ingredients-content-list-container li i {
    color: #db4d3f;
}

/* .main__section-ingredients-content-form-quantity-container input {
    width: 50px;
    border-radius: 3px;
    border: 1px solid #d6d4d4;
    padding: 5px 0px 5px 10px;
    height: 20px;
} */

.main__section-ingredients-content-form-quantity input{
    width: 50px;
    border-radius: 3px;
    border: 1px solid #d6d4d4;
    padding: 5px 0px 5px 10px;
    height: 20px;
}

.main__section-ingredients-content-form-quantity-type {
    border: 1px solid #d6d4d4;
    border-radius: 3px;
    width: 60px;

}

.main__section-ingredients-content-form-container {
    display: flex;
    justify-content: space-between;
}

.main__section-steps-content-list-container li{

}

.footer-container {
    text-align: center;
}



